//CUSTOM-SELECT
.select-destination {
	@include border-r-sm;
	input {
		height: auto !important;
	}
	&:focus {
		border-color: $color-primary-1 !important;
		outline: none !important;
	}
	&__group-title {
		width: 100%;
		display: inline-block;
		font-size: 1.4rem;
		color: #000;
		font-weight: 700;
		text-transform: none;
	}

	.label {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		&__img {
			display: inline-block;
			width: 2.5rem;
			img {
				vertical-align: middle;
				line-height: initial;
			}
		}
		.value,
		.location {
			line-height: initial;
		}

		&__txt {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			font-size: 1.4rem;
			flex-flow: column;
			.value {
				font-size: 1.4rem;
				color: #000;
			}
			.location {
				color: #707070;
			}
		}
	}
	&__single-value {
		.label {
			&__img {
				display: none !important;
			}
			&__txt {
				font-size: 1.4rem;
				display: block;
				.value {
					&::after {
						content: ", ";
					}
					&--city::after {
						content: none;
					}
				}
				.location {
					color: #000;
				}
			}
		}
	}

	&--primary {
		.select-destination__control {
			height: 6rem !important;
			&::before {
				content: "Destination";
				position: absolute;
				top: -1.3rem;
				left: 2rem;
				z-index: 900;
				font-weight: 700;
			}
			&::after {
				content: "";
				background-color: #fff;
				position: absolute;
				width: 9rem;
				height: 2rem;
				z-index: 700;
				top: -1rem;
				left: 1.3rem;
			}
		}
	}
	&--secondary {
		.select-destination__control {
			height: 4.8rem !important;
			border: 1px solid #cbc8ff !important;
			@include border-r-sm;
			outline: none !important;
			padding: 0 1.5rem;
			width: 100%;
		}
		.select-destination__placeholder,
		.select-destination__single-value {
			& ~ div {
				margin: 0 !important;
				padding: 0 !important;
			}
		}
	}

	.select-destination-container {
		z-index: 2000;
		&:focus {
			outline: none !important;
		}
	}
	.select-destination__control {
		&:focus {
			border: none !important;
			outline: none !important;
		}
	}

	.select-destination__value-container {
		padding: 0 1.1rem;
		&:focus {
			outline: none !important;
		}
	}

	.select-destination__control {
		box-shadow: none !important;
		border: 1px solid #afafaf;
		position: relative;
	}

	.select-destination__input {
		input {
			&:focus {
				border: 1px solid red;
			}
		}
	}
	.select-destination__indicators {
		display: none !important;
	}
	&__option {
		outline: none !important;
		cursor: pointer !important;
	}
	&__option--is-selected {
		background-color: #b2d4ff !important;
	}
	&__placeholder {
		.placeholder--default-input {
			color: #000;
		}
	}
}
