/*---------------------------------
    PSEUDO SELECTOR: before, after
----------------------------------
*/
@mixin pseudo-before-primary {
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

@mixin pseudo-after-primary {
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}