/*---------------------------
    TRANSITION-DELAY
-----------------------------
*/
@mixin transition-delay-sm {
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
}
