// MARGIN
.margin-no {
	margin: 0;
}
.margin-b-no {
	margin-bottom: 0 !important;
}
.margin-b-10 {
	margin-bottom: 1rem;
}
.margin-b-15 {
	margin-bottom: 1.5rem !important;
}
.margin-b-20 {
	margin-bottom: 2rem;
}
.margin-l-no {
	margin-left: 0;
}
.margin-r-no {
	margin-right: 0;
}

.margin-r-10 {
	margin-right: 1rem;
}
.margin-r-15 {
	margin-right: 1.5rem;
}
