// PADDING
.padding-0 {
	padding: 0;
}
.padding-20 {
	padding: 2rem;
}
.padding-l-no {
	padding-left: 0;
}
.padding-r-no {
	padding-right: 0;
}
.padding-b-no {
	padding-bottom: 0;
}

.padding-t-no {
	padding-top: 0;
}

.padding-l-80 {
	padding-left: 8rem;
}

.padding-r-30{
	padding-right: 3rem;
}
.paddinig-l-10{
	padding-left: 1rem;
}