@font-face {
	font-family: "WorkSans-Bold";
	src: url("./../../fonts/WorkSans-Bold.eot");
	src: url("./../../fonts/WorkSans/WorkSans-Bold.eot?#iefix")
			format("embedded-opentype"),
		url("./../../fonts/WorkSans/WorkSans-Bold.svg#WorkSans-Bold") format("svg"),
		url("./../../fonts/WorkSans/WorkSans-Bold.ttf") format("truetype"),
		url("./../../fonts/WorkSans/WorkSans-Bold.woff") format("woff"),
		url("./../../fonts/WorkSans/WorkSans-Bold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "WorkSans-ExtraBold";
	src: url("./../../WorkSans-ExtraBold.eot");
	src: url("./../../WorkSans-ExtraBold.eot?#iefix") format("embedded-opentype"),
		url("./../../WorkSans-ExtraBold.svg#WorkSans-ExtraBold") format("svg"),
		url("./../../WorkSans-ExtraBold.ttf") format("truetype"),
		url("./../../WorkSans-ExtraBold.woff") format("woff"),
		url("./../../WorkSans-ExtraBold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "WorkSans-Light";
	src: url("./../../fonts/WorkSans/WorkSans-Light.eot");
	src: url("./../../fonts/WorkSans/WorkSans-Light.eot?#iefix")
			format("embedded-opentype"),
		url("./../../fonts/WorkSans/WorkSans-Light.svg#WorkSans-Light")
			format("svg"),
		url("./../../fonts/WorkSans/WorkSans-Light.ttf") format("truetype"),
		url("./../../fonts/WorkSans/WorkSans-Light.woff") format("woff"),
		url("./../../fonts/WorkSans/WorkSans-Light.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "WorkSans-Medium";
	src: url("./../../fonts/WorkSans/WorkSans-Medium.eot");
	src: url("./../../fonts/WorkSans/WorkSans-Medium.eot?#iefix")
			format("embedded-opentype"),
		url("./../../fonts/WorkSans/WorkSans-Medium.svg#WorkSans-Medium")
			format("svg"),
		url("./../../fonts/WorkSans/WorkSans-Medium.ttf") format("truetype"),
		url("./../../fonts/WorkSans/WorkSans-Medium.woff") format("woff"),
		url("./../../fonts/WorkSans/WorkSans-Medium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "WorkSans-SemiBold";
	src: url("./../../fonts/WorkSans/WorkSans-SemiBold.eot");
	src: url("./../../fonts/WorkSans/WorkSans-SemiBold.eot?#iefix")
			format("embedded-opentype"),
		url("./../../fonts/WorkSans/WorkSans-SemiBold.svg#WorkSans-SemiBold")
			format("svg"),
		url("./../../fonts/WorkSans/WorkSans-SemiBold.ttf") format("truetype"),
		url("./../../fonts/WorkSans/WorkSans-SemiBold.woff") format("woff"),
		url("./../../fonts/WorkSans/WorkSans-SemiBold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
