$color-primary-1: #426ed9;
$color-primary-2: #6c63ff;
$color-primary-3: #6c63ff;
$color-primary-4: #3a91ec;
$color-primary-5: #426ed9;
$color-primary-6: #d9d6ff;

$color-secondary-1: #62c76d;
$color-secondary-2: #55c779;
$color-secondary-3: #1fb485;

$color-tertiary-1: #323232;
$color-tertiary-2: #5d5d5d;
$color-tertiary-3: #4d4d4d;
$color-tertiary-4: #7b7b7b;
$color-tertiary-5: #404040;
$color-tertiary-6: #293340;
$color-tertiary-7: #707070;

$color-best-1: #fff;
$color-best-2: #e8e8e8;
$color-best-3: #afafaf;
$color-best-4: #cbcbcb;
$color-best-5: #e5e5e5;
$color-best-6: #e2e2e2;
$color-best-7: #cccccc;
$color-best-8: #f5f7fb;
$color-best-9: #f1f1ff;

$color-least-1: #000;
$color-least-2: #ffc800;

$font-weights: (
	"regular": 400,
	"medium": 500,
	"bold": 700,
);

// COLOR-BEST
$color-best: #eeeeee; // white

// COLOR-DANGER
$color-danger: #dc3545;

// ADDITIONAL COLOR
$color-addition-1: #4db95f;
$color-addition-2: #5664d2;
$color-addition-3: #eb615f;
$color-addition-6: #d29d21;
$color-addition-7: #56acd2;
$color-addition-8: #d29856;
$color-addition-: #000009;
